<p id="notice"><%= notice %></p>

<p>
  <strong>Board name:</strong>
  <%= @board.board_name %>
</p>

<p>
  <strong>Board description:</strong>
  <%= @board.board_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user %>
</p>

<p>
  <strong>Group:</strong>
  <%= @board.group %>
</p>

<p>
  <strong>Position:</strong>
  <%= @board.position %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
