<template>
  <div class="layouts-boards layout-row flex">
    <div class="layout-column flex" tabindex="-1" role="main">
      <MdToolbar />
      <md-content class="layout-column flex" :md-scroll-y="true">
        <MdView />
      </md-content>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LayoutsBoards'
}
</script>

<style lang="scss" scoped>

</style>
