.rykn0wxx, .mudhead {
  text-rendering: optimizeLegibility;
}
.rykn0wxx {
  font-size: 62.5%;
  line-height: 1.4;
}

.mudhead {
  font-size: 1.6rem;
  overflow: hidden auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
  &-corner {
    background-color: #23252e !important;
  }
  &-track {
    // background: 0 0;
    background-color: #23252e !important;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &-thumb {
    background: rgba(112, 122, 140, 1);
    border-radius: 10px !important;
    cursor: pointer !important;
    outline: 1px solid slategrey;
  }
}

.mudhead {
  scrollbar-face-color: rgba(112, 122, 140, 1);
  scrollbar-track-color: #23252e;
}

.app-trans {
  transition: all ease-in-out 0.3s;
}
