<template>
  <div class="boards-show">
    <md-content class="flex layout-padding">
      <div class="layout-row">
        <div class="list flex-30 m-4 shadow-lg" v-for="(list, indx) in boardLists" :key="indx">
          <p class="md-body-2">{{ list.list_name }}</p>
        </div>
      </div>
    </md-content>
    <div>
      <button @click="runMe">run me</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import _ from 'lodash'

export default {
  name: 'BoardsShow',
  methods: {
    ...mapGetters({
      getLists: 'lists/getLists',
      getCards: 'cards/getCards'
    }),
    getCardsFn () {
      return this.getCards()
    },
    getListsFn () {
      return this.getLists()
    },
    runMe () {
      _.forEach(this.boardLists, (v) => {
        const tmpKeys = _.keys(v)
        console.log(_.filter(tmpKeys, (vvv) => vvv === 'list_id'))
      })
    }
  },
  computed: {
    boardLists: function () {
      const listsFn = this.getListsFn()
      return listsFn(this.$route.params.boardId)
    },
    listCards: function () {
      const cardsFn = this.getCardsFn()
      return cardsFn(this.boardLists)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
