<template>
  <div class="home">
    <h1 class="md-headline">I am home</h1>
    <button class="md-button">
      Sample Button daw
    </button>
    <div class="super-tall">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, sunt necessitatibus eveniet facere perferendis mollitia ullam dolorum distinctio nam fugit pariatur dolore esse excepturi accusamus, provident sed, veritatis ad expedita.
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style lang="scss" scoped>
.super-tall {
  height: 900px;
}
</style>
