<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @member.user %>
</p>

<p>
  <strong>Group:</strong>
  <%= @member.group %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @member.is_admin %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
