<p id="notice"><%= notice %></p>

<p>
  <strong>Card content:</strong>
  <%= @card.card_content %>
</p>

<p>
  <strong>List:</strong>
  <%= @card.list %>
</p>

<p>
  <strong>Position:</strong>
  <%= @card.position %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
