<p id="notice"><%= notice %></p>

<p>
  <strong>List name:</strong>
  <%= @list.list_name %>
</p>

<p>
  <strong>List description:</strong>
  <%= @list.list_description %>
</p>

<p>
  <strong>Board:</strong>
  <%= @list.board %>
</p>

<p>
  <strong>Position:</strong>
  <%= @list.position %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
