@import "tailwind";
$app-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.rykn0wxx, .mudhead {
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  position: relative;
  * {
    outline: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.rykn0wxx {
  font-size: 62.5%;
  line-height: 1.4;
}

.mudhead {
  font-size: 1.6rem;
  overflow: hidden auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  background-color: #edf2f7;
  color: rgba(0, 0, 0, 0.87);
  font-family: $app-font-family;
  // scrollbar-face-color: rgba(112, 122, 140, 1);
  // scrollbar-track-color: #23252e;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
  &-corner {
    background-color: #23252e !important;
  }
  &-track {
    background-color: #23252e !important;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  &-thumb {
    background: rgba(112, 122, 140, 1);
    border-radius: 10px !important;
    cursor: pointer !important;
    outline: 1px solid slategrey;
  }
}

html, body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  min-height: 100%; // [2]
  -webkit-text-size-adjust: 100%; // [3]
  -ms-text-size-adjust: 100%; // [3]
  -webkit-font-smoothing: antialiased; // [4]
  -moz-osx-font-smoothing: grayscale; // [4]
}

h1, h1, h3, h4, h5, h6 {
  line-height: 1.2;
  color: inherit;
  margin-bottom: 1rem;
  margin-top: 1rem;
  letter-spacing: .01em;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

button, select, html, textarea, input {
  font-family: $app-font-family;
}

select, button, textarea, input {
  font-size: 100%;
  &:focus {
    outline: 0;
  }
}

.transition {
  transition: all 250ms ease-in-out;
}

.btn {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  letter-spacing: 0.025em;
  background-color: #f7fafc;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  &:hover, &:focus, &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  }
  &:hover, &:focus {
    background-color: darken(#f7fafc, 2%);
  }
}
